@import 'bootstrap.css';



body {
    background-color: lightgray;
    height: 100%;
    margin: 0; /* Removes default margin */
}
/*
    Navigation
 */
.container{
    padding-top: 2vh;
    min-height: 100%;
    background-color: whitesmoke;
}

.navigation-tab{
    background-color: #fc6203  !important ;
    padding-top: 0.05rem; /* Reduce the top padding */
    padding-bottom: 0.05rem; /* Reduce the bottom padding */

}
.navigationSearchCustom{
    max-width: 50vh !important ;
    text-align: center;
}
.custom-width-login{
    width: 30vh;
}
.my-profile-logo-custom
{
    width: 4vh;
    height: 4vh;
}
/*
    /home (home.html.twig)
 */
.custom-card-spacing{
    padding-top: 2vh;
}
/*
    movie (movies/movie.html.twig)
 */
.movie-title-custom
{
    text-align: center;
}
.custom-movie-image{
    width: 50vh;
    height: 50vh;
    overflow: hidden;
    position: relative;

}
.custom-movie-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.rating .star {
    margin: 0 5px;
    width: 40px; /* Adjust as needed */
    cursor: pointer;
    opacity: 0.3; /* Low default opacity */
    transition: opacity 0.3s ease; /* Smooth transition for opacity change */
    padding-bottom: 1vh;
}

.rating .star:hover,
.rating .star.hover-effect {
    opacity: 1; /* Higher opacity on hover */
}

/*
Text area for the review
 */
.review-custom
{
    width: 60%;
    resize: both;
}
.custom-review-window
{
    min-height: 10vh;
}

/*user/user.html.twig*/
.custom-table
{
    padding: 2vh;
}
